# Virtual Environment
ffrm/
venv/
env/
.env/

# Python
__pycache__/
*.py[cod]
*$py.class
# Temporary files
test.py
testing.py
trial.py

#GAMS
*.gms

# IDE
.vscode/
.idea/

# Output files
*.xlsx
!InputDataCoalUpdated.xlsx  # 除非这是必需的输入文件

# Logs
*.log

# System files
.DS_Store
Thumbs.db

# Excel
~$*.xlsx
*.xlsx
!InputDataCoalUpdated.xlsx
!Input File (India-Coal Retirements).xlsx